br {
   display: block;
   margin: 10px 0;
}

.headbar {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

	height: 50px;
	text-align:  center;
}

.logo {

 height: 80%;
}

.content {
	overflow: scroll;
}

.amiibopic {
  max-width: 160px;
  width: 25%;
  position: relative;
  left:0px;
  top: 0px;
  background-size: 100%;
  
}

.entry {
	width: 100%;
	height: 50px;
	font-size: 15px;
	font-family: "arial";
	border-bottom: 2px solid #bbb;
}

.number {
	width: 33px;
	height: 50px;
	float: left;
	line-height: 50px;
}

.title {
	width: auto;
	height: 100%;
	line-height: 50px;
}

.check {
	width: 50px;
	height: 50px;
	float: left;
}